:root {
    --column-size-s: 4%;
    /* size-l = 1 - 0.04 * 6 */
    --column-size-l: 76%;
}

.loading-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9000;
    background-color: #2d2d2d;
    opacity: 0.5;
}

.loading-bg .loading-spinner{
    position: absolute;
    height: 4rem;
    width: 4rem;
    top: 50%;
    left: 50%;
    border-width: 0.5em;
}

.btn-panel {
    min-width: 900px;
}

.btn-sub-panel {
    display: inline-block;
}

.empty-list,
.file-list {
    height: 700px;
    user-select: none;
    min-width: 920px;
}

.file-list {
    overflow-y: auto;
}

.file-list .col-s {
    flex: 0 0 auto;
    width: var(--column-size-s);
    text-align: center;
}

.file-list .col-l {
    flex: 0 0 auto;
    width: var(--column-size-l);
}

.file-list .list-group-item.clicked {
    background-color: #ebf8ff;
}

.file-list .page-cnt {
    color: var(--bs-blue);
}

.file-list .bi.bi-arrows-vertical {
    /* position: relative;
    left: calc(50% - 1rem); */
    cursor: move;
}

/* .file-list .preview-btn {
    position: relative;
    left: calc(50% - 1rem);
    width: fit-content;
    cursor: pointer;
} */

.file-list .bi {
    width: fit-content;
    cursor: pointer;
}

.file-list .bi:hover {
    color: #115fd4;
}

.file-list .bi.bi-eye-slash-fill {
    cursor: default;
    color: darkgrey;
}

.file-list .bi.bi-eye-slash-fill:hover {
    color: inherit;
    color: darkgrey;
}

.alert {
    z-index: 9001;
    transform: translateX(-50%);
    left: 50%;
    width: max-content;
    position: absolute;
    top: 0px;
}

.alert .bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentcolor;
}

.drop-area, .empty-list-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
  }

/* Drop area style */
.drop-area {
  border: 2px dashed var(--bs-blue);
  color: var(--bs-blue);
  background-color: rgba(0, 0, 0, 0.2);
}

.drop-area::after {
    content: 'Drop file(s) here';
}

.empty-list-content {
    color: var(--bs-blue);
    cursor: pointer;
}

.empty-list-content::after {
    content: 'Drag & drop or choose PDF file(s) to combine';
}